<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <form name="form1" class="pure-form pure-form-aligned" novalidate ng-submit="blog.submit()">

        <fieldset>
          <div class="pure-control-group">
            <label for="title"> Title: </label>
            <input type="text" name="title" id="title"
                   ng-model="blog.article.title"
                   ng-minlength="4" required/>

          <span class="pure-control-group" ng-if="form1.title.$error.required">
            Field is required
          </span>
          <span class="pure-control-group" ng-if="form1.title.$error.minlength">
            Length is too small
          </span>
          </div>

          <div class="pure-control-group">
            <label for="article"> Text: </label>
            <input type="text" name="article" id="article" ng-model="blog.article.article" ng-minlength="30" required/>
           <span class="pure-control-group" ng-if="form1.article.$error.required">
            Field is required
          </span>
          <span class="pure-control-group" ng-if="form1.article.$error.minlength">
            Length is too small
          </span>
          </div>

          <div class="pure-control-group">
            <label for="author">Author:
            </label>
            <input type="text" name="author" id="author" ng-model="blog.article.author" required/>
          <span ng-if="form1.title.$error.required">
            Field is required
          </span>
          </div>

          <div class="pure-control-group">
            <label for="date"> Date: </label>
            <input type="datetime-local" name="date" id="date" ng-model="blog.article.date" required/>
          <span ng-if="form1.date.$error.required">
            Field is required
          </span>
          </div>

          <input type="submit" class="pure-button pure-button-primary" value="Send Text" ng-disabled="form1.$invalid">

        </fieldset>
      </form>
    </div>
  </div>
</div>
