<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input novalidate ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="title" >Alphabetical</option>
        <option value="date">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <div ng-repeat="article in blog.articles | filter:query | orderBy:orderProp" class="articlerow">
        <h1><a ui-sref="blogView({id:article.id})">{{article.title}}</a></h1>
        <a ui-sref="blogDelete({id:article.id})">Delete</a>
        <a ui-sref="blogEdit({id:article.id})">[edit]</a>
        <div class="text">{{article.article}}</div>
        <div class="info">{{article.author}}</div>
        <div class="info">{{article.date | date:'medium'}}</div>
      </div>

    </div>
  </div>
</div>
